/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

table:not(.table) {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--global-text-color);
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

td, th {
  padding-left: 1em;
  padding-right: 1em;
}

thead tr {
  background-color: var(--global-theme-color);
  color: white;
}

.btn-sm {
  display: inline-block;
  border: 1px solid var(--global-theme-color) !important;
  padding: 0px 6px;
  border-radius: 3px;
  margin: 3px 0;
  color: var(--global-theme-color) !important;
  text-decoration: none;
  font-size: 0.85rem;
}

.btn-sm:hover,
.btn-sm:active {
  color: white !important;
  background-color: var(--global-theme-color);
  transition: background-color 0.2s !important;
}